.calculator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

input[type="text"], select {
    margin: 5px;
    padding: 5px;
    width: 100px;
}

input[type="button"] {
    padding: 5px 10px;
    cursor: pointer;
}
