body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

table {
    flex: 1;
    border-collapse: collapse;
}

tr, td {
    padding: 100px;
    text-align: left;
    border: 2px solid black;
}

td:nth-child(odd) {
    background-color: green;
}

td:nth-child(even) {
    background-color: pink;
}
